body {
    margin: 0
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Fira Sans', Arial;
    background-color: var(--background-color, #121212);
    color: var(--text-color);
}

* {
    box-sizing: border-box;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

@font-face {
    src: url(/assets/Backwards.ttf);
    font-family: "Backwards";
}
