::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1373c4;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

ng-scrollbar.ng-scrollbar {
    --scrollbar-padding: 0px;
    --scrollbar-size: 14px;
    --scrollbar-border-radius: 0;
    --scrollbar-thumb-color: #0000;
    --scrollbar-thumb-transition: height ease-out .15s, width ease-out .15s, background-color ease 1200ms;

    &:hover {
        --scrollbar-thumb-color: #444;
    }
}
