<mat-tab-group [class.sidebyside]="!fullscreenMode">
    <mat-tab *ngIf="fullscreenMode" label="Demo">
        <ng-template [cdkPortalOutlet]="componentPortal" ></ng-template>
    </mat-tab>

    <mat-tab *ngFor="let tab of example.files" [label]="tab.label || 'Example'">
        <app-vscode
            [code]="tab.value.default"
            [language]="tab.label.split('.').pop()"
            [tabSize]="4"
            [readOnly]="true"
        />
    </mat-tab>
</mat-tab-group>

<div class="portal" *ngIf="!fullscreenMode">
    <ng-template [cdkPortalOutlet]="componentPortal"></ng-template>
</div>
