:host {
    height: 700px;
    display: flex;
    overflow: hidden;
    background: #212121;
}
mat-tab-group {
    width: 60%;
}
.portal {
    width: 40%;
    padding: 24px;
    position: relative;
    background-color: #181818;
    // margin-left: 4px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: #2a2a2a;
    }
}

::ng-deep .light app-example-viewer {
    background: #dedede;

    .portal{
        background-color: #e7e7e7;

        ::before {
            background-color: #d5d5d5;
        }
    }
}


// move view area below
@media screen and (max-width: 1200px) {
    :host {
        flex-direction: column;
        height: 700px;

        mat-tab-group,
        .portal {
            width: 100%;
        }
        mat-tab-group {
            height: 60%;
        }
        .portal {
            height: 40%;
        }
    }
    .portal::before {
        bottom: unset;
        right: 0;
        height: 1px;
        width: unset;
    }
}
