<mat-tab-group [class.sidebyside]="!fullscreenMode">
  @if (fullscreenMode) {
    <mat-tab label="Demo">
      <ng-template [cdkPortalOutlet]="componentPortal" ></ng-template>
    </mat-tab>
  }

  @for (tab of example.files; track tab) {
    <mat-tab [label]="tab.label || 'Example'">
      <app-vscode
        [code]="tab.value.default"
        [language]="tab.label.split('.').pop()"
        [tabSize]="4"
        [readOnly]="true"
        />
    </mat-tab>
  }
</mat-tab-group>

@if (!fullscreenMode) {
  <div class="portal">
    <ng-template [cdkPortalOutlet]="componentPortal"></ng-template>
  </div>
}
