:host {
    height: 100%;
    width: 100%;
    display: flex;
}

ngx-lazy-loader {
    display: block;
    height: 100%;
    width: 100%;
    contain: content;
    overflow: hidden;
    // overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    contain: content;
    overflow: hidden;
}
