:host {
    padding: 0;
    display: block;
    height: 100%;
    overflow: hidden;
}

app-example-viewer {
    border-radius: 6px;
    height: 100%;

    ::ng-deep {
        .portal {
            flex: 1;
            padding: 0;
        }
        .mat-mdc-tab-group {
            width: 100%;
        }
    }
}
