:host {
    display: flex;
    justify-content: center;
    font-size: 16px;
    height: 100%;
    overflow: hidden;

    .contents {
        max-width: 960px;
        width: min(960px, 60%);
    }
}

app-logo {
    position: absolute;
    top: 48px;
    left: 48px;
    height: 48px;
    width: 180px;
}

.columns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    gap: 120px;

    .panel {
        display: flex;
        flex-direction: column;
        flex: 50%;
        height: 100%;
        justify-content: center;

        p {
            max-width: 480px;
        }
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page {
    height: 100vh;
    width: 100%;
    padding: 80px 0;
    padding-bottom: 200px;
    position: relative;
}

.page-navbar {
    position: absolute;
    right: 48px;
    top: 48px;
    height: 100%;
    width: 48px;
    user-select: none;

    .page-marker {
        height: 48px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .6;

        font-family: "Fira Mono";
        font-size: 24px;
        border-right: 1px solid #fff;

        cursor: default;
        transition: opacity 800ms ease;

        &.selected, &:hover {
            opacity: 1;
        }
    }
}

.project-navbar {
    position: absolute;
    width: 100%;
    bottom: 48px;
    height: 48px;
    user-select: none;
    display: flex;

    .project-marker {
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .6;

        font-family: "Fira Mono";
        font-size: 24px;
        border-bottom: 1px solid #fff;

        cursor: default;
        transition: opacity 800ms ease;

        &.selected,
        &:hover {
            opacity: 1;
        }
    }
}

.popup-image {
    border-radius: 12px;

    max-width: 100%;
    max-height: 100%;
}

p {
    max-width: 820px;
    // margin: 0 120px;
}

.skills {
    max-width: 960px;
    display: flex;
    gap: 48px;
    justify-content: center;

    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        border-radius: 6px;

        img {
            width: 96px;
            height: 96px;
        }
    }
}

.root {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0 120px;

    .horizontal-panel {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 640px) {
    app-logo {
        opacity: 0;
        pointer-events: none;
    }
    .page {
        padding: 16px;
        overflow: hidden;
    }
    .columns {
        flex-direction: column;
    }
    ngx-flicking {
        margin: 0 16px;
    }
    .page-navbar {
        top: 4px;
        right: 4px;
    }
}
