:host {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    font-size: 16px;

    .contents {
        max-width: 960px;
        width: min(960px, 60%);
    }
}

.mainstage {
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.intro {
    display: flex;

    .left {

    }
    .right {

    }
}
