:host {
    display: flex;
    justify-content: center;
    font-size: 16px;
    height: 100%;
    overflow: hidden;

    .contents {
        max-width: 960px;
        width: min(960px, 60%);
    }
}

app-logo {
    position: absolute;
    top: 48px;
    left: 48px;
    height: 48px;
    width: 180px;
}

img {
    user-select: none;
}

.columns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    gap: 120px;

    .panel {
        display: flex;
        flex-direction: column;
        flex: 50%;
        height: 100%;
        justify-content: center;
        overflow-y: auto;

        p {
            max-width: 480px;
        }
    }
}

.horizontal-panel.columns .panel {
    flex: 100%
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page {
    height: 100vh;
    width: 100%;
    padding: 80px 0;
    // padding-bottom: 200px;
    position: relative;

    display: flex;
    flex-direction: column;
}

.page-navbar {
    position: absolute;
    right: 48px;
    top: 48px;
    height: 100%;
    width: 48px;
    user-select: none;
    z-index: 1;

    .page-marker {
        height: 48px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .6;

        font-family: "Fira Mono";
        font-size: 24px;
        border-right: 1px solid #fff;

        cursor: default;
        transition: opacity 800ms ease, border-color 800ms ease;

        &.selected,
        &:hover {
            opacity: 1;
            border-right-color: #69f0ae;
        }
    }
}

.project-navbar {
    position: absolute;
    width: 100%;
    bottom: 48px;
    height: 48px;
    user-select: none;
    display: flex;
    z-index: 1;

    .project-marker {
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .6;

        font-family: "Fira Mono";
        font-size: 24px;
        border-bottom: 1px solid #fff;

        cursor: default;
        transition: opacity 800ms ease, border-color 800ms ease;

        &.selected,
        &:hover {
            opacity: 1;
            border-bottom-color: #69f0ae;
        }
    }
}

.popup-image {
    border-radius: 12px;

    max-width: 100%;
    max-height: 100%;
}

p {
    max-width: 820px;
    // margin: 0 120px;
}

.skills {
    max-width: 960px;
    display: flex;
    gap: 48px;
    justify-content: center;
    flex-wrap: wrap;

    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        border-radius: 6px;

        img {
            width: 96px;
            height: 96px;
        }
    }
}

.root {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0 120px;

    .horizontal-panel {
        width: 100%;
        height: 100%;
    }
}

.slim {
    .page {
        padding: 16px;
        overflow: hidden;
    }

    .columns {
        flex-direction: column;
        gap: 20px;
    }

    &.root {
        margin: 0 16px;
        margin-right: 86px;
    }
    &.page-navbar {
        top: 4px;
        right: 4px;
    }
    .project-navbar {
        bottom: 4px;
        left: 4px;
    }

    .skills {
        gap: 24px;

        .skill img {
            width: 72px;
            height: 72px;
        }
    }

    mat-grid-list {
        width: 100%;
    }
}

.narrow {

    .page {
        padding: 16px;
        overflow: hidden;
    }
    .columns {
        flex-direction: column;
        gap: 20px;
    }
    &.root {
        margin: 0 16px;
        margin-right: 64px;
    }

    .skills {
        gap: 12px;
        .skill img {
            width: 48px;
            height: 48px;
        }
    }

    .popup-image {
        border-radius: 4px;
    }
}
app-logo.narrow {
    opacity: 0;
    pointer-events: none;
}

@media (max-height: 450px) {
    app-logo {
        opacity: 0;
        pointer-events: none;
    }

    .skills {
        gap: 12px;
        .skill img {
            width: 48px;
            height: 48px;
        }
    }
}
