
<app-logo></app-logo>

<div class="page-scroller">
    <div
        class="pages-container"
        [style.transform]="'translateY(' + -(pageIndex*viewportHeight) + 'px)'"
    >
        <div class="page">
            <div class="columns">
                <div class="panel">
                    <h1>Sr. Enterprise Software Engineer</h1>
                    <p>
                        I'm a <b>Sr. Software Engineer</b> who creates stunning interactive web components.
                    </p>
                    <span>
                        <button mat-flat-button (click)="pageIndex = 1">
                            About me
                            <mat-icon>chevron_right</mat-icon>
                        </button>
                    </span>
                </div>
                <div class="panel">
                    <app-cube-graphic style="width: 100%; height: 100%; display: block;"></app-cube-graphic>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="columns">
                <div class="panel">
                    <h1>Hi, I'm Andrew</h1>
                    <span>Frontend Developer / TypeScript Fan / Monitoring Expert</span>

                    <span>
                        <button mat-flat-button (click)="pageIndex = 2">
                            My Skills
                            <mat-icon>chevron_right</mat-icon>
                        </button>
                    </span>
                </div>
                <div class="panel">
                    <p>
                        Hello there! I'm Andrew, a dynamic individual whose interests span the realms of creativity and technology. By day,
                        I'm immersed in the world of tech, weaving intricate codes and solutions as a programmer. When the sun sets, my world
                        transforms into a canvas of diverse passions.
                    </p>

                    <p>
                        From the rhythmic twang of an arrow hitting the target to the whirr of my 3D printer bringing designs to life, archery
                        and 3D printing are not just hobbies but expressions of my love for precision and craftsmanship. Embracing the
                        do-it-yourself ethos, I find joy in hands-on projects, where every screw tightened and every line of code written is a
                        step toward creation.
                    </p>

                    <p>
                        Tech is not just a career but a continuous exploration, and my evenings are often spent diving into the latest
                        advancements and trends. Beyond the digital realm, my love for music provides the soundtrack to my life, creating
                        harmony with my diverse interests. Whether I'm coding, crafting, or hitting bullseyes, the common thread in my pursuits
                        is the fusion of technology, creativity, and the joy of bringing ideas to life. Join me on this eclectic journey where
                        innovation and passion intertwine!
                    </p>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="center">
                <span></span>
                <h1>Skills & Experience</h1>
                <p>My expertise lies in my frontend and backend experience (Angular and NodeJS).</p>
                <p>
                    As an expert in Frontend, Node.js, and Angular development, I bring a blend of ingenuity and technical expertise to any
                    project. Crafting visually stunning and seamlessly functional user interfaces, I have a proven track record of
                    delivering scalable and efficient solutions.
                </p>
                <p>
                    Visit my <a href="https://www.linkedin.com/in/andrew-knackstedt/"><img src="/assets/technology-logos/linkedin.svg"></a> to see more.
                </p>

                <div style="display: flex; flex-direction: column; gap: 48px;">
                    <div class="skills">
                        @for (technology of technologies_1; track technology) {
                            <div class="skill">
                                <img [src]="technology.icon">
                                <span>{{technology.name}}</span>
                            </div>
                        }
                    </div>

                    <div class="skills">
                        @for (technology of technologies_2; track technology) {
                            <div class="skill">
                                <img [src]="technology.icon">
                                <span>{{technology.name}}</span>
                            </div>
                        }
                    </div>

                    <div class="skills">
                        @for (technology of technologies_3; track technology) {
                            <div class="skill">
                                <img [src]="technology.icon">
                                <span>{{technology.name}}</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="center">
                <h1>Portfolio & Previous Projects</h1>
                <div>
                    @for (project of projects; track project) {
                        <div>
                            <h4>{{project.name}}</h4>
                            <span>{{project.startDate}}-{{project.endDate}}</span>
                            <p>{{project.description}}</p>

                            <ul>
                                @for (highlight of project.highlights; track highlight) {
                                    <li>{{highlight}}</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="page">
            <h1>Markdown Editor</h1>
            <div
                (wheel)="$event.stopPropagation()"
                style="display: block; height: 100%;"
            >
                <ngx-stackedit
                    [value]="markdownText"
                />
            </div>
        </div>
    </div>
</div>

<div class="page-navbar">
    <div class="page-marker" [class.selected]="pageIndex == 0" (click)="pageIndex = 0">00</div>
    <div class="page-marker" [class.selected]="pageIndex == 1" (click)="pageIndex = 1">01</div>
    <div class="page-marker" [class.selected]="pageIndex == 2" (click)="pageIndex = 2">02</div>
    <div class="page-marker" [class.selected]="pageIndex == 3" (click)="pageIndex = 3">03</div>
    <div class="page-marker" [class.selected]="pageIndex == 4" (click)="pageIndex = 4">04</div>
</div>
