<app-matrix-rain
    [style.top]="-(pageFlickerIndex*(70)) + '%'"
/>

<app-logo
    [class.narrow]="width < 1020"
/>

<ngx-flicking
    #rootFlicker
    class="root"
    [class.slim]="width < 1060"
    [class.narrow]="width < 720"
    [options]="{
        duration: 800,
        horizontal: false,
        interruptable: true,
        moveType: 'snap'
    }"
    (changed)="pageFlickerIndex = rootFlicker.index"
    (panelChange)="pageFlickerIndex = rootFlicker.index"
    (move)="onRootMove($event)"
>
    <div flicking-panel class="page">
        <div class="columns">
            <div class="panel">
                <div class="backdrop">
                    <h1>Sr. Enterprise Software Engineer</h1>
                    <p>
                        I'm a <b>Sr. Software Engineer</b> who creates stunning interactive web components.
                    </p>
                    <span>
                        <button mat-flat-button (click)="pageFlickerIndex = 1; moveFlicker()">
                            About me
                            <mat-icon>chevron_right</mat-icon>
                        </button>
                    </span>
                </div>
            </div>
            <div class="panel" style="overflow: hidden">
                <div style="position: relative; width: 100%; height: 100%;">
                    <!-- <app-matrix-rain /> -->
                    <app-cube-graphic
                        flicking-panel
                        style="width: 100%; height: 100%; display: block; position: absolute; top: 0"
                    />
                </div>
            </div>
        </div>
    </div>
    <div flicking-panel class="page">
        <div class="columns">
            <div class="panel" [style.flex]="width > 1060 ? '50%' : '1%'">
                <div class="backdrop">
                    <h1>Hi, I'm Andrew</h1>
                    <p>Frontend Developer / TypeScript Fan / Monitoring Expert</p>

                    <span>
                        <button mat-flat-button (click)="pageFlickerIndex = 2; moveFlicker()">
                            My Skills
                            <mat-icon>chevron_right</mat-icon>
                        </button>
                    </span>
                </div>
            </div>
            <div class="panel">
                <div class="backdrop">
                    <p>
                        Hello there! I'm Andrew, a dynamic individual whose interests span the realms of creativity and technology. By day,
                        I'm immersed in the world of tech, weaving intricate codes and solutions as a programmer. When the sun sets, my world
                        transforms into a canvas of diverse passions.
                    </p>

                    <p>
                        From the rhythmic twang of an arrow hitting the target to the whirr of my 3D printer bringing designs to life, archery
                        and 3D printing are not just hobbies but expressions of my love for precision and craftsmanship. Embracing the
                        do-it-yourself ethos, I find joy in hands-on projects, where every screw tightened and every line of code written is a
                        step toward creation.
                    </p>

                    <p>
                        Tech is not just a career but a continuous exploration, and my evenings are often spent diving into the latest
                        advancements and trends. Beyond the digital realm, my love for music provides the soundtrack to my life, creating
                        harmony with my diverse interests. Whether I'm coding, crafting, or hitting bullseyes, the common thread in my pursuits
                        is the fusion of technology, creativity, and the joy of bringing ideas to life. Join me on this eclectic journey where
                        innovation and passion intertwine!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div flicking-panel class="page nested-wide">
        <ngx-flicking
            #projectFlicker
            [options]="{
                circular: false,
                duration: 800,
                autoInit: true,
                interruptable: true,
                moveType: 'snap',
                bounce: 0,
                bound: true,
                horizontal: true
            }"
            [style.height]="width > 1060 ? '100%' : 'calc(100% - 48px)'"
            (changed)="projectFlickerIndex = projectFlicker.index"
            (panelChange)="projectFlickerIndex = projectFlicker.index"
            (move)="onProjectMove($event)"
        >
            @for (project of projects; track project) {
                <div flicking-panel class="horizontal-panel columns">
                    <div
                        class="panel"
                        [style.flex]="(width > 1420 ? 40 : 100) + '%'"
                    >
                        <div class="backdrop">
                            <h1>{{project.name}}</h1>
                            <span>{{project.startDate}}-{{project.endDate}}</span>
                            <p>{{project.description}}</p>

                            <ul>
                                @for (highlight of project.highlights; track highlight) {
                                    <li>{{highlight}}</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <mat-grid-list
                        cols="2"
                        [rowHeight]="width > 1420 ? 420: width > 1060 ? 240 : 64"
                        class="panel"
                        gutterSize="12"
                        style="overflow: visible"
                        [style.flex]="(width > 1060 ? 100 : 25) + '%'"
                    >
                        @for (img of project.images; track img; let i = $index) {
                            <mat-grid-tile
                                [colspan]="i == 0 ? 2 : 1"
                                [rowspan]="1"
                            >
                                <img
                                    class="popup-image"
                                    [src]="img"
                                    (click)="onImageClick(img)"
                                >
                            </mat-grid-tile>
                        }
                    </mat-grid-list>
                </div>
            }
        </ngx-flicking>

        <div class="project-navbar">
            @for (project of projects; track project; let i = $index) {
                <div
                    class="project-marker"
                    [class.selected]="projectFlickerIndex == i"
                    (click)="projectFlickerIndex = i;
                        projectFlicker.stopAnimation();
                        projectFlicker.moveTo(i);
                    "
                    (touch)="projectFlickerIndex = i;
                        projectFlicker.stopAnimation();
                        projectFlicker.moveTo(i);
                    "
                >
                    {{i.toString().padStart(2, '0')}}
                </div>
            }
        </div>
    </div>
    <div flicking-panel class="page">
        <div class="center">
            <div class="backdrop">
                <h1>Skills & Experience</h1>
                <p>
                    As an expert in Frontend, Node.js, and Angular development, I bring a blend of ingenuity and technical expertise to any
                    project. Crafting visually stunning and seamlessly functional user interfaces, I have a proven track record of
                    delivering scalable and efficient solutions.
                </p>
                <p>
                    Visit my <a href="https://www.linkedin.com/in/andrew-knackstedt/" target="_blank" rel="noopener"><img src="/assets/technology-logos/linkedin.svg"></a> to see more.
                </p>

                @if (width > 800) {
                    <div style="display: flex; flex-direction: column; gap: 48px;">
                        <div class="skills">
                            @for (technology of technologies_1; track technology) {
                                <div class="skill">
                                    <img [src]="technology.icon">
                                    <span>{{technology.name}}</span>
                                </div>
                            }
                        </div>

                        <div class="skills">
                            @for (technology of technologies_2; track technology) {
                                <div class="skill">
                                    <img [src]="technology.icon">
                                    <span>{{technology.name}}</span>
                                </div>
                            }
                        </div>

                        <div class="skills">
                            @for (technology of technologies_3; track technology) {
                                <div class="skill">
                                    <img [src]="technology.icon">
                                    <span>{{technology.name}}</span>
                                </div>
                            }
                        </div>
                    </div>
                }
                @else {
                    <div class="skills">
                        @for (technology of allTechnologies; track technology) {
                            <div class="skill">
                                <img [src]="technology.icon">
                                <span>{{technology.name}}</span>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- <div flicking-panel class="page">
        <div class="center">
            <h1>Portfolio & Previous Projects</h1>
            <div>
                @for (project of projects; track project) {
                    <div>
                        <h4>{{project.name}}</h4>
                        <span>{{project.startDate}}-{{project.endDate}}</span>
                        <p>{{project.description}}</p>

                        <ul>
                            @for (highlight of project.highlights; track highlight) {
                                <li>{{highlight}}</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div> -->
    <div flicking-panel class="page">
        <h1>Markdown Editor</h1>
        <div
            (wheel)="$event.stopPropagation()"
            style="display: block; height: 100%;"
        >
            <ngx-stackedit
                [value]="markdownText"
                [showPreview]="width > 820"
            />
        </div>
    </div>
</ngx-flicking>

<div
    class="page-navbar"
    [class.slim]="width < 1060"
    [class.narrow]="width < 720"
>
    @for (page of pages; track page; let i = $index) {
        <div
            class="page-marker"
            [class.selected]="pageFlickerIndex == i"
            (click)="pageFlickerIndex = i; moveFlicker()"
            (touch)="pageFlickerIndex = i; moveFlicker()"
        >
            {{i.toString().padStart(2, '0')}}
        </div>
    }
</div>
