<div>
    <h1 align="center">ngx-ctx-menu</h1>
    <p align="center">
        `ngx-ctx-menu` provides a robust context menu and app menu for Angular applications.
    </p>

    <div>
        <a href="https://www.npmjs.com/package/@dotglitch/ngx-ctx-menu" rel="nofollow">
            <img src="https://camo.githubusercontent.com/5bf7a65d77cd0705910b21db43052e13276e55132de4e0dfdabf8c81c0787e7b/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f762f40646f74676c697463682f6e67782d6374782d6d656e752e737667"
                alt="npm"
                data-canonical-src="https://img.shields.io/npm/v/@dotglitch/ngx-ctx-menu.svg"
                style="max-width: 100%;">
        </a>
        <a href="https://www.npmjs.com/package/@dotglitch/ngx-ctx-menu" rel="nofollow">
            <img src="https://camo.githubusercontent.com/26591309e18252f0ca7a8ce5123238248a76f84ddaa6bb98ae18afde4cf7419b/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f646d2f40646f74676c697463682f6e67782d6374782d6d656e752e737667"
                alt="npm"
                data-canonical-src="https://img.shields.io/npm/dm/@dotglitch/ngx-ctx-menu.svg"
                style="max-width: 100%;">
        </a>
        <a href="https://npmjs.org/@dotglitch/ngx-ctx-menu" rel="nofollow">
            <img src="https://camo.githubusercontent.com/c4a727e5973aefd03cbfe0151ccefa0f47fd88f580b336a498842facf4a6c182/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f64742f40646f74676c697463682f6e67782d6374782d6d656e752e737667"
                alt="npm downloads"
                data-canonical-src="https://img.shields.io/npm/dt/@dotglitch/ngx-ctx-menu.svg"
                style="max-width: 100%;">
        </a>
        <a href="https://github.com/knackstedt/ngx-ctx-menu">
            <img src="https://camo.githubusercontent.com/603ddceb65a9b4e82ef1ab06040a25b19e1ada5e3ad81be0c4ce972e9bb6fb04/68747470733a2f2f696d672e736869656c64732e696f2f6769746875622f73746172732f6b6e61636b73746564742f6e67782d6374782d6d656e752e7376673f6c6162656c3d4769744875622532305374617273267374796c653d666c6174"
                alt="GitHub stars"
                data-canonical-src="https://img.shields.io/github/stars/knackstedt/ngx-ctx-menu.svg?label=GitHub%20Stars&amp;style=flat"
                style="max-width: 100%;">
        </a>
    </div>
    <div>
        <h3>Installation</h3>
        <code>npm i @dotglitch/ngx-ctx-menu</code>
        <app-vscode
            [code]="importCode"
            language="ts"
            [tabSize]="4"
            [readOnly]="true"
            style="height: 310px"
        />
    </div>
</div>


<h3>Examples</h3>

<h5>Basic</h5>
<app-example-viewer [example]="BasicExample"/>

<h5>Styling</h5>
<app-example-viewer [example]="StylingExample"/>

<h5>Actions</h5>
<app-example-viewer [example]="ActionExample"/>

<h5>Child elements</h5>
<app-example-viewer [example]="ChildrenExample"/>

<h5>Dynamic Children</h5>
<app-example-viewer [example]="DynamicChildrenExample"/>

<h5>Action Entry Context</h5>
<app-example-viewer [example]="EntryContextExample"/>

<h5>Custom Triggers</h5>
<app-example-viewer [example]="CustomTriggersExample" />



